:required {
    border: 2px solid black;
}

div {
    margin-left: 50px;
    padding-bottom: 10px;
}

label {
    /*dvije stvari*/
    display: inline-block;
    width: 10%;
}

input[type="radio"]:checked+span{
    background-color: grey;
}