<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/cart_style.css">
    <script src="../data/mydata.js"></script>
    <title>Kosarica</title>
</head>

<body>
    <div class="container">
        <div class="naslSlika"><a href="/">HOME</a></div>

        <div class="kosarica_div">
            <div class="proizvodi">
                <div class="naziv_kolicina">
                    <div class="naziv">Naziv:</div>
                    <div class="minus"></div>
                    <div class="kolicina">Broj vozila:</div>
                    <div class="plus"></div>
                </div>
                <% for (var pro of cart){%>
                    <div class="naziv_kolicina">
                        <div class="naziv">
                            <%=pro.ime%>
                        </div>
                        <div class="minus"><a href="/cart/remove/<%=pro.ime%>">-</a></div>
                        <div class="kolicina">
                            
                            <%=pro.kolicina%>

                        </div>
                        <div class="plus"><a href="/cart/add/<%=pro.ime%>">+</a></div>
                    </div>
                    <%}%>

            </div>

        </div>

        <!-- <script src="..\web_labos_1\scripts\cart.js"></script> -->
    </div>
</body>

</html>